#HTTP Service
PORT=8200
HOST=192.168.2.186

# Database
MONGO_CONNECTION_STRING=mongodb://root:pass@localhost:27017
MONGO_DATABASE=admindb

# Kafka
KAFKA_BOOTSTRAP=localhost:9092
KAFKA_GROUP_ID=apis-group
KAFKA_TOPIC_CONSUMER=scrapper
KAFKA_TOPIC_PRODUCER=bot
